[submodule "Externals/NBug"]
	path = Externals/NBug
	url = https://github.com/akrisiun/NBug.git
    ignore = dirty
[submodule "Externals/Git.hub"]
	path = Externals/Git.hub
	url = https://github.com/akrisiun/Git.hub.git
    ignore = dirty    
