[submodule "Externals/NBug"]
	path = Externals/NBug
	url = https://github.com/gitextensions/NBug
	ignore = dirty
[submodule "Externals/Git.hub"]
	path = Externals/Git.hub
	url = https://github.com/akrisiun/Git.hub
	ignore = dirty
[submodule "Externals/conemu-inside"]
	path = Externals/conemu-inside
	url = https://github.com/akrisiun/conemu-inside
	ignore = dirty
[submodule "Externals/MaterialSkin"]
	path = Externals/MaterialSkin
	url = https://github.com/akrisiun/MaterialSkin
