<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitCommandsLib" version="9.0.4-beta1" targetFramework="net46" />
  <package id="GitExtUtils" version="9.0.4-beta1" targetFramework="net46" />
  <package id="GitUIPluginInterfacesLib" version="9.0.4-beta1" targetFramework="net46" />
  <package id="SmartFormat.NET" version="2.0.0.0" targetFramework="net461" />
</packages>